@{
    ViewData["Title"] = "Confirmacao de apagar o contato";
}


<div class="text-center">
    <h3>
        Realmente deseja apagar o contato (gabriel campos)?
    </h3>
</div>

<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusao</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar exclusao</a>
</div>
