@{
    ViewData["Title"] = "pagina inicial";
    Layout = "_LayoutHome";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p class="text-center">Site feito para a contagem de dias idos na academia por gabriel e carol linda</p>
</div>
