BODY {
    font-family: arial;
}

/* esconde*/
div > p {   /* uma div com a tag "p" dentro da div*/
    display: none;
}

/*faz aparecer*/
div:hover > p {
    display: block;
    color:white;
    background-color: red;
    width: 300px;
}

div:hover {
    color: red;
}