<div class="text-center">
    <div>
        <img src="./Assets/img/370700-fundo-preto-gratis-vetor.png" alt="Alternate Text" class="rounded-circle" id="perfil"/>
        <div class="d-inline-flex flex-column align-items-start">
            <p class="mb-0">Gabriel</p>
            <p class="fw-light mb-0" style="font-size:12px;">6 de julho</p>
        </div>
    </div>
    <img src="" alt="Alternate Text" class="img-fluid" />
</div>